/* Core theme styles */
body {
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
    font-weight: bold;
}
.header {
    background: url('assets/header-bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.header .container {
    position: relative;
    z-index: 2;
}
.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
